* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #002041;
}

.snow-1 {
  position: absolute;
  top: 79px;
  left: 30px;
  width: 5px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-1;
          animation-name: drop-1;
  -webkit-animation-duration: 0.40359s;
          animation-duration: 0.40359s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.93382s;
          animation-delay: 1.93382s;
}

.snow-2 {
  position: absolute;
  top: 84px;
  left: 60px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-2;
          animation-name: drop-2;
  -webkit-animation-duration: 1.35453s;
          animation-duration: 1.35453s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.59842s;
          animation-delay: 2.59842s;
}

.snow-3 {
  position: absolute;
  top: 110px;
  left: 90px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-3;
          animation-name: drop-3;
  -webkit-animation-duration: 0.119s;
          animation-duration: 0.119s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.05923s;
          animation-delay: 1.05923s;
}

.snow-4 {
  position: absolute;
  top: 128px;
  left: 120px;
  width: 2px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-4;
          animation-name: drop-4;
  -webkit-animation-duration: 0.01469s;
          animation-duration: 0.01469s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.40386s;
          animation-delay: 1.40386s;
}

.snow-5 {
  position: absolute;
  top: 73px;
  left: 150px;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-5;
          animation-name: drop-5;
  -webkit-animation-duration: 0.99501s;
          animation-duration: 0.99501s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.77621s;
          animation-delay: 0.77621s;
}

.snow-6 {
  position: absolute;
  top: 47px;
  left: 180px;
  width: 2px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-6;
          animation-name: drop-6;
  -webkit-animation-duration: 0.71544s;
          animation-duration: 0.71544s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.61974s;
          animation-delay: 2.61974s;
}

.snow-7 {
  position: absolute;
  top: 132px;
  left: 210px;
  width: 3px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-7;
          animation-name: drop-7;
  -webkit-animation-duration: 1.20629s;
          animation-duration: 1.20629s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.99331s;
          animation-delay: 0.99331s;
}

.snow-8 {
  position: absolute;
  top: 68px;
  left: 240px;
  width: 3px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-8;
          animation-name: drop-8;
  -webkit-animation-duration: 0.39483s;
          animation-duration: 0.39483s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4318s;
          animation-delay: 0.4318s;
}

.snow-9 {
  position: absolute;
  top: 91px;
  left: 270px;
  width: 2px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-9;
          animation-name: drop-9;
  -webkit-animation-duration: 0.3968s;
          animation-duration: 0.3968s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.39532s;
          animation-delay: 0.39532s;
}

.snow-10 {
  position: absolute;
  top: 73px;
  left: 300px;
  width: 3px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-10;
          animation-name: drop-10;
  -webkit-animation-duration: 1.43791s;
          animation-duration: 1.43791s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.68726s;
          animation-delay: 0.68726s;
}

.snow-11 {
  position: absolute;
  top: 115px;
  left: 330px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-11;
          animation-name: drop-11;
  -webkit-animation-duration: 0.54565s;
          animation-duration: 0.54565s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.95191s;
          animation-delay: 2.95191s;
}

.snow-12 {
  position: absolute;
  top: 1px;
  left: 360px;
  width: 5px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-12;
          animation-name: drop-12;
  -webkit-animation-duration: 1.24971s;
          animation-duration: 1.24971s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.54344s;
          animation-delay: 1.54344s;
}

.snow-13 {
  position: absolute;
  top: 40px;
  left: 390px;
  width: 5px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-13;
          animation-name: drop-13;
  -webkit-animation-duration: 0.713s;
          animation-duration: 0.713s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.27531s;
          animation-delay: 2.27531s;
}

.snow-14 {
  position: absolute;
  top: 133px;
  left: 420px;
  width: 4px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-14;
          animation-name: drop-14;
  -webkit-animation-duration: 1.01409s;
          animation-duration: 1.01409s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.62986s;
          animation-delay: 2.62986s;
}

.snow-15 {
  position: absolute;
  top: 134px;
  left: 450px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-15;
          animation-name: drop-15;
  -webkit-animation-duration: 1.27947s;
          animation-duration: 1.27947s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.70402s;
          animation-delay: 2.70402s;
}

.snow-16 {
  position: absolute;
  top: 43px;
  left: 480px;
  width: 1px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-16;
          animation-name: drop-16;
  -webkit-animation-duration: 0.53203s;
          animation-duration: 0.53203s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.7838s;
          animation-delay: 0.7838s;
}

.snow-17 {
  position: absolute;
  top: 94px;
  left: 510px;
  width: 1px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-17;
          animation-name: drop-17;
  -webkit-animation-duration: 1.34517s;
          animation-duration: 1.34517s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.00727s;
          animation-delay: 2.00727s;
}

.snow-18 {
  position: absolute;
  top: 83px;
  left: 540px;
  width: 1px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-18;
          animation-name: drop-18;
  -webkit-animation-duration: 2.07511s;
          animation-duration: 2.07511s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.19773s;
          animation-delay: 1.19773s;
}

.snow-19 {
  position: absolute;
  top: 99px;
  left: 570px;
  width: 1px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-19;
          animation-name: drop-19;
  -webkit-animation-duration: 2.25321s;
          animation-duration: 2.25321s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.80444s;
          animation-delay: 1.80444s;
}

.snow-20 {
  position: absolute;
  top: 6px;
  left: 600px;
  width: 3px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-20;
          animation-name: drop-20;
  -webkit-animation-duration: 2.60406s;
          animation-duration: 2.60406s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.19272s;
          animation-delay: 2.19272s;
}

.snow-21 {
  position: absolute;
  top: 75px;
  left: 630px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-21;
          animation-name: drop-21;
  -webkit-animation-duration: 0.25443s;
          animation-duration: 0.25443s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.09587s;
          animation-delay: 2.09587s;
}

.snow-22 {
  position: absolute;
  top: 11px;
  left: 660px;
  width: 1px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-22;
          animation-name: drop-22;
  -webkit-animation-duration: 0.85805s;
          animation-duration: 0.85805s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.05099s;
          animation-delay: 2.05099s;
}

.snow-23 {
  position: absolute;
  top: 84px;
  left: 690px;
  width: 2px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-23;
          animation-name: drop-23;
  -webkit-animation-duration: 0.20663s;
          animation-duration: 0.20663s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.3556s;
          animation-delay: 2.3556s;
}

.snow-24 {
  position: absolute;
  top: 82px;
  left: 720px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-24;
          animation-name: drop-24;
  -webkit-animation-duration: 2.54328s;
          animation-duration: 2.54328s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.32923s;
          animation-delay: 2.32923s;
}

.snow-25 {
  position: absolute;
  top: 5px;
  left: 750px;
  width: 1px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-25;
          animation-name: drop-25;
  -webkit-animation-duration: 0.56146s;
          animation-duration: 0.56146s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.18516s;
          animation-delay: 0.18516s;
}

.snow-26 {
  position: absolute;
  top: 108px;
  left: 780px;
  width: 3px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-26;
          animation-name: drop-26;
  -webkit-animation-duration: 0.83498s;
          animation-duration: 0.83498s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.52306s;
          animation-delay: 2.52306s;
}

.snow-27 {
  position: absolute;
  top: 70px;
  left: 810px;
  width: 1px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-27;
          animation-name: drop-27;
  -webkit-animation-duration: 2.19569s;
          animation-duration: 2.19569s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.5994s;
          animation-delay: 2.5994s;
}

.snow-28 {
  position: absolute;
  top: 1px;
  left: 840px;
  width: 4px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-28;
          animation-name: drop-28;
  -webkit-animation-duration: 1.12936s;
          animation-duration: 1.12936s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1.03633s;
          animation-delay: 1.03633s;
}

.snow-29 {
  position: absolute;
  top: 123px;
  left: 870px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-29;
          animation-name: drop-29;
  -webkit-animation-duration: 0.62367s;
          animation-duration: 0.62367s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.72868s;
          animation-delay: 0.72868s;
}

.snow-30 {
  position: absolute;
  top: 16px;
  left: 900px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation-name: drop-30;
          animation-name: drop-30;
  -webkit-animation-duration: 0.58779s;
          animation-duration: 0.58779s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2.08859s;
          animation-delay: 2.08859s;
}

@-webkit-keyframes drop-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 509.19252px);
            transform: translate(500px, 509.19252px);
  }
}

@keyframes drop-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 509.19252px);
            transform: translate(500px, 509.19252px);
  }
}

@-webkit-keyframes drop-2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 344.56255px);
            transform: translate(500px, 344.56255px);
  }
}

@keyframes drop-2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 344.56255px);
            transform: translate(500px, 344.56255px);
  }
}

@-webkit-keyframes drop-3 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 498.62523px);
            transform: translate(500px, 498.62523px);
  }
}

@keyframes drop-3 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 498.62523px);
            transform: translate(500px, 498.62523px);
  }
}

@-webkit-keyframes drop-4 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 317.9629px);
            transform: translate(500px, 317.9629px);
  }
}

@keyframes drop-4 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 317.9629px);
            transform: translate(500px, 317.9629px);
  }
}

@-webkit-keyframes drop-5 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 317.48677px);
            transform: translate(500px, 317.48677px);
  }
}

@keyframes drop-5 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 317.48677px);
            transform: translate(500px, 317.48677px);
  }
}

@-webkit-keyframes drop-6 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 312.03972px);
            transform: translate(500px, 312.03972px);
  }
}

@keyframes drop-6 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 312.03972px);
            transform: translate(500px, 312.03972px);
  }
}

@-webkit-keyframes drop-7 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 383.19861px);
            transform: translate(500px, 383.19861px);
  }
}

@keyframes drop-7 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 383.19861px);
            transform: translate(500px, 383.19861px);
  }
}

@-webkit-keyframes drop-8 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 415.60401px);
            transform: translate(500px, 415.60401px);
  }
}

@keyframes drop-8 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 415.60401px);
            transform: translate(500px, 415.60401px);
  }
}

@-webkit-keyframes drop-9 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 415.39277px);
            transform: translate(500px, 415.39277px);
  }
}

@keyframes drop-9 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 415.39277px);
            transform: translate(500px, 415.39277px);
  }
}

@-webkit-keyframes drop-10 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 492.66022px);
            transform: translate(500px, 492.66022px);
  }
}

@keyframes drop-10 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 492.66022px);
            transform: translate(500px, 492.66022px);
  }
}

@-webkit-keyframes drop-11 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 501.38785px);
            transform: translate(500px, 501.38785px);
  }
}

@keyframes drop-11 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 501.38785px);
            transform: translate(500px, 501.38785px);
  }
}

@-webkit-keyframes drop-12 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 497.93751px);
            transform: translate(500px, 497.93751px);
  }
}

@keyframes drop-12 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 497.93751px);
            transform: translate(500px, 497.93751px);
  }
}

@-webkit-keyframes drop-13 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 351.95538px);
            transform: translate(500px, 351.95538px);
  }
}

@keyframes drop-13 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 351.95538px);
            transform: translate(500px, 351.95538px);
  }
}

@-webkit-keyframes drop-14 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 527.09172px);
            transform: translate(500px, 527.09172px);
  }
}

@keyframes drop-14 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 527.09172px);
            transform: translate(500px, 527.09172px);
  }
}

@-webkit-keyframes drop-15 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 430.63618px);
            transform: translate(500px, 430.63618px);
  }
}

@keyframes drop-15 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 430.63618px);
            transform: translate(500px, 430.63618px);
  }
}

@-webkit-keyframes drop-16 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 577.68687px);
            transform: translate(500px, 577.68687px);
  }
}

@keyframes drop-16 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 577.68687px);
            transform: translate(500px, 577.68687px);
  }
}

@-webkit-keyframes drop-17 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 308.90018px);
            transform: translate(500px, 308.90018px);
  }
}

@keyframes drop-17 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 308.90018px);
            transform: translate(500px, 308.90018px);
  }
}

@-webkit-keyframes drop-18 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 486.44543px);
            transform: translate(500px, 486.44543px);
  }
}

@keyframes drop-18 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 486.44543px);
            transform: translate(500px, 486.44543px);
  }
}

@-webkit-keyframes drop-19 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 339.88125px);
            transform: translate(500px, 339.88125px);
  }
}

@keyframes drop-19 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 339.88125px);
            transform: translate(500px, 339.88125px);
  }
}

@-webkit-keyframes drop-20 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 529.63277px);
            transform: translate(500px, 529.63277px);
  }
}

@keyframes drop-20 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 529.63277px);
            transform: translate(500px, 529.63277px);
  }
}

@-webkit-keyframes drop-21 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 539.56322px);
            transform: translate(500px, 539.56322px);
  }
}

@keyframes drop-21 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 539.56322px);
            transform: translate(500px, 539.56322px);
  }
}

@-webkit-keyframes drop-22 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 467.84282px);
            transform: translate(500px, 467.84282px);
  }
}

@keyframes drop-22 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 467.84282px);
            transform: translate(500px, 467.84282px);
  }
}

@-webkit-keyframes drop-23 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 444.70692px);
            transform: translate(500px, 444.70692px);
  }
}

@keyframes drop-23 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 444.70692px);
            transform: translate(500px, 444.70692px);
  }
}

@-webkit-keyframes drop-24 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 373.99511px);
            transform: translate(500px, 373.99511px);
  }
}

@keyframes drop-24 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 373.99511px);
            transform: translate(500px, 373.99511px);
  }
}

@-webkit-keyframes drop-25 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 585.60731px);
            transform: translate(500px, 585.60731px);
  }
}

@keyframes drop-25 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 585.60731px);
            transform: translate(500px, 585.60731px);
  }
}

@-webkit-keyframes drop-26 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 411.92115px);
            transform: translate(500px, 411.92115px);
  }
}

@keyframes drop-26 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 411.92115px);
            transform: translate(500px, 411.92115px);
  }
}

@-webkit-keyframes drop-27 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 556.8076px);
            transform: translate(500px, 556.8076px);
  }
}

@keyframes drop-27 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 556.8076px);
            transform: translate(500px, 556.8076px);
  }
}

@-webkit-keyframes drop-28 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 306.09067px);
            transform: translate(500px, 306.09067px);
  }
}

@keyframes drop-28 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 306.09067px);
            transform: translate(500px, 306.09067px);
  }
}

@-webkit-keyframes drop-29 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 324.07364px);
            transform: translate(500px, 324.07364px);
  }
}

@keyframes drop-29 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 324.07364px);
            transform: translate(500px, 324.07364px);
  }
}

@-webkit-keyframes drop-30 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 319.19161px);
            transform: translate(500px, 319.19161px);
  }
}

@keyframes drop-30 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(500px, 319.19161px);
            transform: translate(500px, 319.19161px);
  }
}
/*# sourceMappingURL=scss-snowstorm.css.map */